@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}
/* 블럭1번 */
.box1{
    width: 100%;
    height: 851px;
    background-image: url(img/bg01.png);
    background-position: center;
    background-size: cover;
}
.cont1{
    width: 1100px;
    height: 851px;
    border: 1px;
    margin: 0 auto;
    position: relative;
}
.title{
    position: absolute;
    overflow: auto;
    border: 1px;
    top: 328px;
}
.can1{
    position: absolute;
    bottom: 0;
    right: 18px;
    width: 433px;
    height: 598px;
}
/* 블럭2번 */
.box2{
    width: 100%;
    height: 228px;
    background-color: #F0FF84;
}
.cont2{
    width: 1103px;
    height: 228px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.slogan{
    width: 690px;
    height: 60px;
}
/* 블럭3번 */
.box3{
    width: 100%;
    height: 1140px;
    /* background-position-x: center;
    background-position-y: 365px;
    background-image: url(img/bg02.png);
    background-repeat: no-repeat;
    background-size: cover; */
}
.cont3{
    width: 100%;
    height: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: absolute;
}
.bg1{
    width: 100%;
    height: 601px; 
    position: absolute;
    justify-content: center;
    padding-top: 365px;
    display: flex ;
}
.can2{
    width: 460px;
    height: 961px;
    position: absolute;
    top: 179px;
    justify-content: center;
}
/* 블럭4번 */
.box4{
    width: 100%;
    height: 138px;
    text-align: center;
    padding-top: 22.5px;
    padding-bottom: 62.1px;
}
/* 블럭5번 */
.box5{
    width: 100%;
    height: 154px;
}
.cont4{
    width: 566px;
    height: 154px;
    margin: 0 auto;
}
.txt{
    width: 566px;
    height: 59px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.7px;
    text-align: center;
    color: #707070;
}
/* 블럭6번 */
.box6{
    width: 100%;
    height: 716px;
    background-image: url(img/bg03.png);
    background-position: center;
    background-size: cover;
}
/* 블럭7번 */
.box7{
    width: 100%;
    height: 994px;
    background-color: #F8FFED;
}
.cont5{
    width: 1100px;
    height: 948px;
    margin: 0 auto;
}
.cont5 > img{
    padding-top: 46px;
}
/* 블럭8번 */
.box8{
    width: 100%;
    height: 643px;
    background-color: #F8FFED;
}
.cont6{
    width: 1920px;
    height: 643px;
    margin: 0 auto;
}
.cont6 > img{
    text-align: center;
}